h1,
h4 {
  font-family: "Avenir Next";
}
p,
label,
footer {
  font-family: Arial, Helvetica, sans-serif;
}

label {
  display: flex;
  flex-direction: column;
  padding: 8px;
  font-size: 10px;
}

header {
  margin-top: 24px;
  text-align: center;
}

header h1 {
  margin: 0;
  color: #ee2824;
}

#container {
  margin: 0 auto;
  padding: 24px;
  max-width: 800px;
}

#item_filter {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  border: 1px solid lightslategrey;
  border-radius: 4px;
}

.filter_input_wrapper {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border: 1px solid lightslategrey;
  padding: 10px;
  margin-top: 8px;
}

.item_title {
  text-align: center;
  border-radius: 4px;
  margin: 0 40px;
  background-color: #ee2824;
}

.item_title h4 {
  margin: 8px 0;
  padding: 0 4px;
}

.detail_container {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.item_detail p {
  margin-bottom: 0;
}

footer {
  padding-top: 8px;
  text-align: center;
  border-top: 1px solid lightgray;
  font-size: 10px;
}

/**** STARS FOR RATINGS DISPLAY *****/
.item_rating p {
  margin: 0;
  padding-left: 2px;
  font-size: 10px;
  letter-spacing: 1px;
  font-family: "Avenir Next";
}
:root {
  --star-size: 20px;
  --star-color: #fff;
  --star-background: #fc0;
}

.stars {
  --percent: calc(var(--rating) / 5 * 100%);
  
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
}

.stars::before {
  content: '★★★★★';
  letter-spacing: 3px;
  background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
