h1,
h4 {
  font-family: "Avenir Next";
}

a,
p,
label,
footer {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

label {
  display: flex;
  flex-direction: column;
  padding: 8px;
  font-size: 10px;
}

header {
  margin-top: 24px;
  text-align: center;
}

header img {
  height: 100;
  width: 200;
}

header h1 {
  margin: 0;
  color: #ee2824;
}

#container {
  margin: 0 auto;
  padding: 24px;
  max-width: 800px;
}

.item_filter {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  border: 1px solid lightslategrey;
  border-radius: 4px;
}

.filter_input_wrapper {
  display: flex;
  flex-direction: column;
}

.filter_input {
  padding-bottom: 4px;
}

.filter_input label {
  padding: 0 0 4px;
}

.filter_input input {
  margin: 0;
  width: 168px;
  padding: 4px;
}

.filter_input select {
  padding: 4px;
  width: 180px;
}

.item {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border: 1px solid lightslategrey;
  padding: 10px;
  margin-top: 8px;
}

.item_title {
  text-align: center;
  border-radius: 4px;
  margin: 0 40px;
  background-color: #ee2824;
}

.item_title h4 {
  margin: 8px 0;
  padding: 0 4px;
  color: #fff;
}

.detail_container {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.item_detail p {
  margin: 28px;
}

footer {
  padding-top: 8px;
  text-align: center;
  border-top: 1px solid lightgray;
  font-size: 10px;
}

/**** STARS FOR RATINGS DISPLAY *****/
.item_rating p {
  margin: 0;
  padding-left: 2px;
  font-size: 10px;
  letter-spacing: 1px;
  font-family: "Avenir Next";
}
:root {
  --star-size: 20px;
  --star-color: #fff;
  --star-background: #fc0;
}

.stars {
  --percent: calc(var(--rating) / 5 * 100%);
  
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
}

.stars::before {
  content: '★★★★★';
  letter-spacing: 3px;
  background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/**** AMAZON BUTTON ****/
.amazon_anchor {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgb(254, 230, 176), rgb(238, 186, 55)) rgb(254, 230, 176);
  inset: 0px;
  cursor: pointer;
  position: relative;
  border: 1px solid rgb(190, 149, 44) rgb(166, 130, 38) rgb(155, 121, 36);
  border-radius: 3px;
  overflow: hidden;
  transform: translate3d(0px, 0px, 0px);
  height: 24px;
  padding: 0px 10px 0px 11px;
  width: 91px;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: #000;
  box-shadow: rgba(255, 255, 255, 0.6) 0px 1px 0px inset;
}

a.amazon_anchor:hover {
  background: linear-gradient(rgb(254, 222, 151), rgb(236, 178, 31)), rgb(254, 222, 151);
  border-color: rgb(169, 133, 39) rgb(145, 114, 33) rgb(155, 121, 36);
}


/**** Media Query ****/
@media only screen and (max-width: 480px) {
  header img {
    height: 50;
    width: 150;
  }

  header h1 {
    font-size: 24px;
  }

  .item_filter {
    flex-direction: column;
    padding: 10px;
  }
  
  .filter_input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4px;
  }
  
  .filter_input label {
    padding: 0 0 4px;
  }
  
  .filter_input input {
    margin: 0;
  }

  .filter_input select option {
    padding: 4px;
  }

  .item_title {
    margin: 0;
  }

  .item_title h4 {
    padding: 0;
    margin: 4px 0;
    font-size: 14px;
  }

  .detail_container {
    flex-direction: column;
    align-items: center;
  }

  .item_detail p {
    margin: 8px 0;
  }

  .amazon_anchor {
    margin-top: 8px; 
  }
  .detail_container :nth-child(2){
    order: 3;
  }
}

/* @media only screen and (max-width: 480px) {
  body {
    background-color: lightblue;
  }
} */